@tailwind base;
@tailwind components;
@tailwind utilities;

.heading {
    @apply bg-purple;
}
.heading-lg {
    @apply text-3xl leading-8 font-bold sm:text-4xl;
}
.heading-xl {
    @apply text-5xl;
}

.column-2 {
    column-count:2;
}

#nav {
    z-index: 999;
}
strong {
    font-weight: bold;
}
.accordion {
    margin: 0 !important;
}

.dropdown .panel {
    padding: 0 18px;
}

.panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.hero h1>strong {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}